.spreadsheet {
  width: 100%;
  height: 100%;

  overflow: hidden;

  :global(.x-spreadsheet-toolbar),
  :global(.x-spreadsheet-bottombar) {
    width: 100% !important;
  }

  * {
    background-size: auto;
  }

  :global(.x-spreadsheet-menu) {
    > li:first-child {
      display: none;
    }
  }

  &.showBottomTool {
    :global(.x-spreadsheet-menu) {
      > li:first-child {
        display: list-item;
      }
    }
  }
}
